@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.paragraph-1, .heading-4, .heading-3, .heading-2, .heading-1 {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  color: hsl(233, 26%, 24%);
}

.heading-1 {
  font-size: 6rem;
}
@media only screen and (max-width: 37.5em) {
  .heading-1 {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 78.75em) {
  .heading-1 {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-1 {
    font-size: 4rem;
  }
}

.heading-2 {
  font-size: 4rem;
}
@media only screen and (max-width: 37.5em) {
  .heading-2 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 78.75em) {
  .heading-2 {
    font-size: 3rem;
  }
}

.heading-3 {
  font-size: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .heading-3 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 78.75em) {
  .heading-3 {
    font-size: 2.5rem;
  }
}

.heading-4 {
  font-size: 2.2rem;
  font-weight: 400;
}

.paragraph-1 {
  color: hsl(233, 8%, 62%);
  line-height: 1.6;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 62.5em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.5rem;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}
@media only screen and (max-width: 37.5em) {
  .container {
    padding: 0 10rem;
  }
}
@media only screen and (max-width: 78.75em) {
  .container {
    padding: 0 10rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .container {
    padding: 0 5rem;
  }
}

.btn {
  padding: 1.7rem 4rem;
  border-radius: 100vh;
  border: none;
  color: hsl(0, 0%, 100%);
  background: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
}
.btn:hover {
  opacity: 90%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nav {
  height: 7rem;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
}
.nav__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__list {
  list-style: none;
  display: flex;
}
@media only screen and (max-width: 37.5em) {
  .nav__list {
    position: fixed;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%) scale(0);
    width: 40rem;
    height: 40rem;
    background-color: hsl(0, 0%, 98%);
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    align-items: center;
    padding: 3rem;
    transition: all 0.4s ease-in-out;
    border-radius: 2rem;
  }
  .nav__list.active {
    transform: translateX(-50%) scale(1);
  }
}
@media only screen and (max-width: 78.75em) {
  .nav__list {
    position: fixed;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%) scale(0);
    width: 40rem;
    height: 40rem;
    background-color: hsl(0, 0%, 98%);
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    align-items: center;
    padding: 3rem;
    transition: all 0.4s ease-in-out;
    border-radius: 2rem;
  }
  .nav__list.active {
    transform: translateX(-50%) scale(1);
  }
}
.nav__item {
  cursor: pointer;
  position: relative;
  padding: 0 3rem;
}
.nav__item::after {
  content: "";
  position: absolute;
  display: block;
  background: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  width: 100%;
  height: 0.5rem;
  top: 6.5rem;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s linear;
  transform-origin: left;
}
.nav__item:hover::after {
  transform: scaleX(1);
}
.nav__item:hover {
  background-color: #f5f5f5;
}
.nav__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: hsl(233, 8%, 62%);
  font-weight: 400;
  font-size: 1.8rem;
  padding: 1rem;
  height: 7rem;
}
@media only screen and (max-width: 37.5em) {
  .nav__link {
    font-size: 3rem;
    text-transform: uppercase;
  }
}
@media only screen and (max-width: 78.75em) {
  .nav__link {
    font-size: 3rem;
    text-transform: uppercase;
  }
}
@media only screen and (max-width: 37.5em) {
  .nav .btn {
    display: none;
  }
}
@media only screen and (max-width: 78.75em) {
  .nav .btn {
    display: none;
  }
}
.nav__hamburger {
  display: none;
}
.nav__hamburger .bar {
  background-color: hsl(233, 26%, 24%);
  width: 4rem;
  height: 0.5rem;
  margin: 0.5rem;
  border-radius: 100vh;
  transition: all 0.4s cubic-bezier(1, 0, 0, 1);
}
@media only screen and (max-width: 37.5em) {
  .nav__hamburger {
    display: block;
    cursor: pointer;
  }
  .nav__hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .nav__hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .nav__hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
@media only screen and (max-width: 78.75em) {
  .nav__hamburger {
    display: block;
    cursor: pointer;
  }
  .nav__hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .nav__hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .nav__hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.header {
  background-color: hsl(0, 0%, 98%);
  min-height: calc(100vh - 7rem);
  overflow: hidden;
}
@media only screen and (max-width: 37.5em) {
  .header {
    min-height: unset;
  }
}
@media only screen and (max-width: 78.75em) {
  .header {
    min-height: unset;
  }
}
.header__flex {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .header__flex {
    flex-direction: column-reverse;
    gap: 1rem;
  }
}
.header__left {
  max-width: 45rem;
}
@media only screen and (max-width: 37.5em) {
  .header__left {
    text-align: center;
    padding-bottom: 4rem;
  }
}
.header__left .paragraph-1 {
  padding: 3rem 0;
}
@media only screen and (max-width: 37.5em) {
  .header__left h1 {
    margin-top: 5rem;
  }
  .header__left .btn {
    margin-bottom: 5rem;
  }
}
@media only screen and (max-width: 78.75em) {
  .header__left h1 {
    margin-top: 5rem;
  }
  .header__left .btn {
    margin-bottom: 5rem;
  }
}
.header__right {
  margin: -20rem -22rem 0 0;
  position: relative;
}
@media only screen and (max-width: 37.5em) {
  .header__right {
    margin: -12rem 3rem 0 -6rem;
  }
}
.header__right .img__background img:first-child {
  width: 100%;
}
@media only screen and (max-width: 37.5em) {
  .header__right .img__background img:first-child {
    display: none;
  }
}
.header__right .img__background img:last-child {
  display: none;
}
@media only screen and (max-width: 37.5em) {
  .header__right .img__background img:last-child {
    display: block;
    width: 130%;
  }
}
.header__right .img__mobile {
  position: absolute;
  top: 7rem;
  right: 0;
  z-index: 2;
}
@media only screen and (max-width: 37.5em) {
  .header__right .img__mobile {
    top: 2rem;
    left: 2rem;
    right: -8rem;
  }
}
.header__right .img__mobile img {
  width: 100%;
}
@media only screen and (max-width: 37.5em) {
  .header__right .img__mobile img {
    width: 70%;
  }
}
@media only screen and (max-width: 78.75em) {
  .header__right .img__mobile img {
    width: 70%;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__right .img__mobile img {
    width: 100%;
  }
}

.features {
  padding: 10rem 0;
  background-color: hsl(220, 16%, 96%);
  min-height: 100vh;
}
.features__details {
  width: 45%;
}
.features__details p {
  padding-top: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .features__details {
    width: 100%;
  }
}
@media only screen and (max-width: 78.75em) {
  .features__details {
    width: 100%;
  }
}
@media only screen and (max-width: 37.5em) {
  .features__details {
    text-align: center;
  }
}
.features__container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 3rem;
}
.features__card {
  text-align: justify;
}
@media only screen and (max-width: 37.5em) {
  .features__card {
    text-align: center;
  }
}
.features__card h3 {
  padding: 2rem 0;
}

.articles {
  padding: 10rem 0;
  background-color: hsl(0, 0%, 98%);
  min-height: 100vh;
}
.articles h2 {
  padding-bottom: 5rem;
}
.articles__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 3rem;
}
.articles__container .article {
  background-color: hsl(0, 0%, 100%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0.8rem;
}
.articles__container .article__image img {
  width: 100%;
  height: 20rem;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}
@media only screen and (max-width: 37.5em) {
  .articles__container .article__image img {
    height: 30rem;
  }
}
.articles__container .article__details {
  padding: 2rem;
}
.articles__container .article__details h3 {
  padding: 0.8rem 0;
}
.articles__container .article__details p {
  line-height: 1.3;
  text-align: justify;
}

.footer {
  background-color: hsl(233, 26%, 24%);
  padding: 4rem 0;
  color: hsl(0, 0%, 100%);
}
.footer__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
}
@media only screen and (max-width: 37.5em) {
  .footer__grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 78.75em) {
  .footer__grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__grid {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
@media only screen and (max-width: 62.5em) {
  .footer__grid {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
.footer .grid__box-1 .social__container {
  padding-top: 3rem;
}
.footer .grid__box-1 .social__container img {
  cursor: pointer;
}
.footer .grid__box-1 .social__container img:not(:last-child) {
  margin-right: 0.5rem;
}
.footer .footer__links {
  list-style: none;
}
.footer .footer__links .footer__link {
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.footer .grid__box-4 {
  text-align: right;
}
.footer .grid__box-4 p {
  padding-top: 2rem;
  color: hsl(233, 8%, 62%);
}
@media only screen and (max-width: 37.5em) {
  .footer .grid__box-2 .footer__links {
    margin-top: 4rem;
  }
  .footer .grid__box-3 .footer__links {
    margin-bottom: 4rem;
  }
  .footer .grid__box-4 {
    text-align: center;
  }
}
@media only screen and (max-width: 62.5em) {
  .footer .grid__box-2 .footer__links {
    margin-top: 4rem;
  }
  .footer .grid__box-3 .footer__links {
    margin-bottom: 4rem;
  }
  .footer .grid__box-4 {
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */