.header {
  background-color: $VeryLightGray;
  height: calc(100vh - 7rem);

  &__flex {
    display: flex;
    align-items: center;
  }

  &__left {
    max-width: 45rem;

    & .paragraph-1 {
      padding: 3rem 0;
    }
  }

  &__right {
    margin: -20rem -22rem 0 0;
    position: relative;

    & .img__background img {
      width: 100%;
    }

    & .img__mobile {
      position: absolute;
      top: 7rem;
      right: 0;
      z-index: 2;

      & img {
        width: 100%;
      }
    }
  }
}
